
body {
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #aca407;
    padding: 2px;
    color: #ffffff;
    margin-top: auto;
  }

  .header h1{
    text-align: start;
    margin-top: 20px;
    font-size: 30px;
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-logo img {
    height: 130px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .header-navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .header-navigation a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    transition: background-color 0,9s ease;
  }

  .header-navigation a:hover{
    cursor: pointer;
    color: black;
  }

body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;
}

.cta-button {
display: inline-block;
background-color: #034694;
color: #ffffff;
font-size: 18px;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
}

footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1 0 300px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .social-icons li {
    margin: 0 10px;
  }

  .social-icons li img {
    width: 50px;
    height: 50px;
  }
