.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('FUTSAL\ unair.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 200px 0;
}

    .hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

    .hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero-section a{
    background-color: blue;
    transition: background-color 0,9s ease;
}

.hero-section a:hover{
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}

.content-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    margin-bottom: 100px;
    }

    .content-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    }

    .content-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-left: 50px;
    }

.container img{
    height: 400px;
}

.garis {
    position: relative;
    width: 0;
    height: 100px; /* Atur tinggi garis */
    border-left: 2px solid black; /* Atur warna dan ketebalan garis */
    margin: 0 auto; /* Atur margin untuk memposisikan garis di tengah */
  }


.garris {
    position: relative;
    width: 0;
    height: 100px; /* Atur tinggi garis */
    border-left: 2px solid black; /* Atur warna dan ketebalan garis */
    margin: 0 auto; /* Atur margin untuk memposisikan garis di tengah */
}

.row {
    margin-top: 70px;
    width: 100%;
    height: 100px;
}


.container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    width: 33.33%;
    background-color: blue;
    margin-right: auto;
}

.col a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
}

.biru{
    margin-top: 300px;
    margin-bottom: 50px;
}

#scrollspyHeading1 {
    font-size: 2rem;
}

.scrollspy-example {
    width: 500px;
    max-height: 400px; /* Atur tinggi maksimum sesuai kebutuhan */
    margin-left: 200px;
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi maksimum */
}
